:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --primary-color: #1e272e;
  --secondary-color: #2ecc71;
  --accent-color: #3498db;
  --error-color: #e74c3c;
  --background-light: #f5f6fa;
  --background-dark: #0d1b2a;
  --text-light: #2c3e50;
  --text-dark: #e0e0e0;
  --card-bg-light: #ffffff;
  --card-bg-dark: #1e272e;
  --card-width: 300px;
  --card-height: 400px;

  color: var(--text-light);
  background-color: var(--background-light);
}

body.dark-mode {
  color: var(--text-dark);
  background-color: var(--background-dark);
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: #2980b9;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.3s ease;
}
button:hover {
  border-color: var(--accent-color);
  background-color: #333;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-dark);
    background-color: var(--background-dark);
  }
  a:hover {
    color: #2980b9;
  }
  button {
    background-color: #2c3e50;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-light);
    background-color: var(--background-light);
  }
  a:hover {
    color: #2980b9;
  }
  button {
    background-color: #f9f9f9;
  }
}
